---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import CardFaq from "@components/CardFaq";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import getFaqList from "@utils/getFaqList";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const faqs = getFaqList();

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">

      <img src="/assets/page1.jpg" alt="crewai"></img>

      <h1>Crew Ai</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
        <span class="sr-only">RSS Feed</span>
      </a>

      <p>
        Although individual tasks are crucial, Crew AI truly excels when multiple intelligent agents come together as a team, showcasing seamless collaboration and revealing enhanced overall capabilities.
      </p>
      <p>
        Crew AI emphasizes the advantages of team collaboration through modular design and simplicity principles, along with a vision that transcends traditional automation, achieving flawless synergy among multiple intelligent agents. In practical applications, Crew AI underscores usability and internal collaboration, making it a genuinely practical tool in the real world.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    <section id="faq">
      <h2>FAQ</h2>
      <ul>
        {faqs.map(({ question, answer }) => (
          <CardFaq
            question={question}
            answer={answer}
            secHeading={false}
          />
        ))}
      </ul>
    </section>

    <Hr />

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts
            .filter(({ data }) => !data.featured)
            .map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>

    <Hr />

    <section id="link">
        <a class="link-a" href="https://chatg.pt/DWjSBZn">🤖 Start trial</a>
    </section>
    <section id="link3">
        <a class="link-a" href="https://github.com/joaomdmoura/crewAI/wiki">📃 Documentation</a>
    </section>
    <section id="link2">
        <a href="https://aitooldr.com/tool/crew-ai" target="_blank" style="cursor: pointer;"><img src="https://aitooldr.com/featured.svg" style="width: 300px; height: 76px;margin-top: 16px;" width="300" height="76" alt="Crew AI emphasizes the advantages of team collaboration through modular design and simplicity principles | AiToolDr"></a>
    </section>
    <section id="link">
        Friendship Link
    </section>
    <section id="link3">
        <a class="link-a" href="https://chatgptsora.co/">ChatGpt Sora</a>
    </section>
    <section id="link">
        <a class="link-a" href="https://chronologicalagecalculator.co/">Chronological Age Calculator</a>
    </section>

  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== faq & Recent Posts Sections ===== */
  #faq,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #faq h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
  #link {
    @apply mt-4 pt-2 pb-6;
  }

  .link-a {
    height: 40px;
    border: solid 1px #333333;
    border-radius: 20px;
    padding: 10px 20px;
  }
</style>
